.path-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.path-link {
    text-decoration: none;
    color: #BFBEBE;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.path-separator {
    margin: 0 8px;
}

.current-page {
    color: #333;
    font-weight: 700;
}
